In [1]:
import pandas as pd
import datetime
from datetime import *

In [2]:
base = pd.read_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\base_nets_agosto_original.csv', sep=',', error_bad_lines=False, encoding='ISO-8859-1', index_col=False, warn_bad_lines=False).fillna(0)

base_1 = base.query('DATA_APROV!=-1')

base_1['DIAS_PRAZO'] = base_1['DIAS_PRAZO'].astype(int)
base_1['Dt_Pedidos'] = base_1['DATA_PEDIDO'].astype(object)
base_1['Dt_Pedidos'] = pd.to_datetime(base_1['Dt_Pedidos'], format='%Y%m%d')
base_1['Dt_Aprovacao'] = base_1['DATA_APROV'].astype(object)
base_1['Dt_Aprov'] = pd.to_datetime(base_1['Dt_Aprovacao'], format='%Y%m%d')


# Ciclo pedido


#base_1['MÃªs'] = base_1['Dt_Aprov'].dt.month
#base_1['Dia'] = base_1['Dt_Aprov'].dt.day




#base['Data_Pedi'] = 
base_1.tail()

<ipython-input-2-6b7df19dc387>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['DIAS_PRAZO'] = base_1['DIAS_PRAZO'].astype(int)
<ipython-input-2-6b7df19dc387>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['Dt_Pedidos'] = base_1['DATA_PEDIDO'].astype(object)
<ipython-input-2-6b7df19dc387>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['Dt_Pedidos'] = pd.to_datetime(base_1['Dt_Pedidos'], format='%Y%m%d')
<ipython-input-2-6b7df19dc387>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['Dt_Aprovacao'] = base_1['DATA_APROV'].astype(object)
<ipython-input-2-6b7df19dc387>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['Dt_Aprov'] = pd.to_datetime(base_1['Dt_Aprovacao'], format='%Y%m%d')

,LOJISTA,COD_PEDIDO_LOJA,COD_PEDIDO,DATA_DESPACHO,DATA_ENTREGA,DATA_PEDIDO,DATA_APROV,EST,DAT_CRIA_PEDIDO,UNI_NEG,...,COD_PEDIDO_1,VLR,FRETE,CEP,ESTADO,SIGLA,MUNICIPIO,Dt_Pedidos,Dt_Aprovacao,Dt_Aprov
837916,N1 Goalkeeper Brasil,71638735,842325381,12/08/21,0,20210811,20210811,SP,11/08/21,NETSHOES,...,842325381,229,21,5,14802300,SAO PAULO ...,SP,2021-08-11,20210811,2021-08-11
837920,Vicerinne,71638175,842324709,12/08/21,0,20210811,20210812,PR,11/08/21,ZATTINI,...,842324709,169,9,0,82940160,PARANA ...,PR,2021-08-11,20210812,2021-08-12
837921,Loja Space Tenis,71643355,842331775,12/08/21,0,20210811,20210811,SP,11/08/21,NETSHOES,...,842331775,199,3,0,12503090,SAO PAULO ...,SP,2021-08-11,20210811,2021-08-11
837922,SV ECOMMERCE,71643427,842331918,12/08/21,0,20210811,20210811,ES,11/08/21,NETSHOES,...,842331918,79,9,0,29724000,ESPIRITO SANTO ...,ES,2021-08-11,20210811,2021-08-11
837923,NETMIX Store,71648583,842337825,12/08/21,0,20210811,20210811,SP,11/08/21,NETSHOES,...,842337825,79,9,0,02878100,SAO PAULO ...,SP,2021-08-11,20210811,2021-08-11

In [3]:
#julho = base_1.query('MÃªs==7')
base_nova = base_1[['LOJISTA', 'COD_PEDIDO_LOJA','COD_PEDIDO', 'DATA_DESPACHO','DATA_ENTREGA',  'Dt_Pedidos', 'Dt_Aprov', 'DIAS_PRAZO', 'STATUS']]
base_nova['STATUS'] = base_nova['STATUS'].str.strip()
base_nova_1 = base_nova.drop_duplicates()


base_nova_1.head()

#julho.to_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\pedidos_julho_ciclo_pedido.csv')

<ipython-input-3-47d79d7750a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_nova['STATUS'] = base_nova['STATUS'].str.strip()

,LOJISTA,COD_PEDIDO_LOJA,COD_PEDIDO,DATA_DESPACHO,DATA_ENTREGA,Dt_Pedidos,Dt_Aprov,DIAS_PRAZO,STATUS
0,Bella Fiore,69009835T(2),840211028,15/03/21,0,2021-07-19,2021-08-02,10,DESPACHADO
1,BENDITA SEJA,68943589,839006799,15/03/21,14/07/21,2021-07-03,2021-07-03,10,ENTREGUE
2,OH MY BAG,68731561,838737378,02/07/21,05/07/21,2021-06-30,2021-07-01,4,ENTREGUE
3,G3 MULTIMARCAS,68714850,838716692,30/06/21,07/07/21,2021-06-30,2021-06-30,11,ENTREGUE
5,Corpo Perfeito,68719221,838722195,01/07/21,02/07/21,2021-06-30,2021-06-30,4,ENTREGUE

In [4]:
base_nse = pd.read_excel(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\SELLER NSE.xlsx', skiprows=2).fillna('')
base_nse.rename(columns={'Seller': 'LOJISTA'}, inplace=True)
base_nse.head()

,LOJISTA,ID,Entrada,MÃªs/Ano,Carteira Farmer,Status,Transportadora
0,3LS3 CalÃ§ados,4143,2017-12-14 00:00:00,2017-12-01 00:00:00,Zattini,Ativada,Correios
1,BmBrasil,5383,2017-12-14 00:00:00,2017-12-01 00:00:00,Zattini,Ativada,Correios
2,CalÃ§ados Pastori,6006,2017-12-14 00:00:00,2017-12-01 00:00:00,Zattini,Ativada,Transportadora
3,Coturno Militar,5641,2017-12-14 00:00:00,2017-12-01 00:00:00,Netshoes,Ativada,Transportadora
4,Ded CalÃ§ados,4642,2017-12-14 00:00:00,2017-12-01 00:00:00,Zattini,Ativada,Correios

In [5]:
base_tt = pd.merge(base_nova_1, base_nse, how='left', on='LOJISTA')

base_tratada = base_tt.drop_duplicates(subset='COD_PEDIDO', keep='first').fillna('')

base_tratada_v1 = base_tratada.query('ID==""')

base_tratada_v1['DATA_ENTREGA'] = pd.to_datetime(base_tratada_v1['DATA_ENTREGA'], format='%Y%m%d', infer_datetime_format=True)
base_tratada_v1['DATA_DESPACHO'] = pd.to_datetime(base_tratada_v1['DATA_ENTREGA'], format='%Y%m%d', infer_datetime_format=True)

def status_id(base_tratada_v1):
    if base_tratada_v1['STATUS'] == 'DESPACHADO':
        return "S"
    elif base_tratada_v1['STATUS'] == 'ENTREGUE':
        return "S"
    elif base_tratada_v1['STATUS'] == 'FATURADO':
        return "S"
    elif base_tratada_v1['STATUS'] == 'PRONTO PARA FATURAR':
        return "S"
    else:
        return ""

base_tratada_v1['Val_Status'] = base_tratada_v1.apply(status_id, axis=1)
       
base_tratada_v2 = base_tratada_v1.query('Val_Status=="S"')  

base_tratada_v3 = base_tratada_v2[['LOJISTA', 'COD_PEDIDO_LOJA','COD_PEDIDO', 'DATA_DESPACHO','DATA_ENTREGA',  'Dt_Pedidos', 'Dt_Aprov', 'DIAS_PRAZO', 'STATUS']]

          
base_tratada_v3.tail()

<ipython-input-5-30dbdb5b8939>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_tratada_v1['DATA_ENTREGA'] = pd.to_datetime(base_tratada_v1['DATA_ENTREGA'], format='%Y%m%d', infer_datetime_format=True)
<ipython-input-5-30dbdb5b8939>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_tratada_v1['DATA_DESPACHO'] = pd.to_datetime(base_tratada_v1['DATA_ENTREGA'], format='%Y%m%d', infer_datetime_format=True)
<ipython-input-5-30dbdb5b8939>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_tratada_v1['Val_Status'] = base_tratada_v1.apply(status_id, axis=1)

,LOJISTA,COD_PEDIDO_LOJA,COD_PEDIDO,DATA_DESPACHO,DATA_ENTREGA,Dt_Pedidos,Dt_Aprov,DIAS_PRAZO,STATUS
882844,Esporte Legal,71645107,842333308,1970-01-01,1970-01-01,2021-08-11,2021-08-11,7,DESPACHADO
882851,FutFanatics,71637447,842323799,1970-01-01,1970-01-01,2021-08-11,2021-08-11,13,DESPACHADO
882860,Loja Space Tenis,71643355,842331775,1970-01-01,1970-01-01,2021-08-11,2021-08-11,6,DESPACHADO
882861,SV ECOMMERCE,71643427,842331918,1970-01-01,1970-01-01,2021-08-11,2021-08-11,11,DESPACHADO
882862,NETMIX Store,71648583,842337825,1970-01-01,1970-01-01,2021-08-11,2021-08-11,5,DESPACHADO

In [11]:
base_tratada.tail()

,LOJISTA,COD_PEDIDO_LOJA,COD_PEDIDO,DATA_DESPACHO,DATA_ENTREGA,Dt_Pedidos,Dt_Aprov,DIAS_PRAZO,STATUS,ID,Entrada,MÃªs/Ano,Carteira Farmer,Status,Transportadora
882856,N1 Goalkeeper Brasil,71638735,842325381,12/08/21,0,2021-08-11,2021-08-11,5,DESPACHADO,15653,,,,Ns Entregas,
882857,Vicerinne,71638175,842324709,12/08/21,0,2021-08-11,2021-08-12,5,DESPACHADO,9385,2018-09-17 00:00:00,2018-09-01 00:00:00,Zattini,Ativada,Correios
882860,Loja Space Tenis,71643355,842331775,12/08/21,0,2021-08-11,2021-08-11,6,DESPACHADO,,,,,,
882861,SV ECOMMERCE,71643427,842331918,12/08/21,0,2021-08-11,2021-08-11,11,DESPACHADO,,,,,,
882862,NETMIX Store,71648583,842337825,12/08/21,0,2021-08-11,2021-08-11,5,DESPACHADO,,,,,,

In [6]:
base_tratada_v3.to_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\base_tratada_agosto_envio_parceiro_nets.csv', encoding='ISO-8859-1', index=False)

In [7]:
base_tratada_v3['COD_PEDIDO'].count()

288507

In [8]:
base_1['STATUS'] = base_1['STATUS'].str.strip()
base_1.tail()
base_1.to_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\pedidos_nets_ciclo.csv', index=False)

<ipython-input-8-cccd2d0d45d8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_1['STATUS'] = base_1['STATUS'].str.strip()

In [9]:
# Export base mÃªs Sarah
base_sarah = pd.read_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\base_nets_agosto_original.csv', sep=',', error_bad_lines=False, encoding='ISO-8859-1', index_col=False, warn_bad_lines=False).fillna(0)

base_sarah['Dt_Pedidos'] = base_sarah['DATA_PEDIDO'].astype(object)
base_sarah['Dt_Pedidos'] = pd.to_datetime(base_sarah['Dt_Pedidos'], format='%Y%m%d')
base_sarah['MÃªs'] = base_sarah['Dt_Pedidos'].dt.month

base_sarah_agosto = base_sarah.query('MÃªs==8')

base_sarah_agosto.to_csv(r'C:\Users\mo_duarte\Desktop\Marketplace\pedidos\Base_pedidos_nets\agosto\pedidos_agosto_sarah.csv', index=False)


base_sarah_agosto.head()

,LOJISTA,COD_PEDIDO_LOJA,COD_PEDIDO,DATA_DESPACHO,DATA_ENTREGA,DATA_PEDIDO,DATA_APROV,EST,DAT_CRIA_PEDIDO,UNI_NEG,...,COD_PEDIDO_LOJA_1,COD_PEDIDO_1,VLR,FRETE,CEP,ESTADO,SIGLA,MUNICIPIO,Dt_Pedidos,MÃªs
3798,Ishoes,70699843,841181544,02/08/21,03/08/21,20210801,20210801,SP,01/08/21,NETSHOES,...,70699843,841181544,239,9,0,13476434,SAO PAULO ...,SP,2021-08-01,8
3799,Adidas,70699815,841181560,04/08/21,0,20210801,20210801,ES,01/08/21,NETSHOES,...,70699815,841181560,149,99,25,29164008,ESPIRITO SANTO ...,ES,2021-08-01,8
3800,Sapatofran,70700229,841181778,05/08/21,06/08/21,20210801,20210803,SP,01/08/21,NETSHOES,...,70700229,841181778,79,9,0,13607422,SAO PAULO ...,SP,2021-08-01,8
3801,ZAXUS,70700054,841181912,03/08/21,05/08/21,20210801,20210801,SP,01/08/21,NETSHOES,...,70700054,841181912,69,9,10,04935130,SAO PAULO ...,SP,2021-08-01,8
3802,Albarus CalÃ§ados,70699723,841181415,06/08/21,10/08/21,20210801,20210801,RJ,01/08/21,NETSHOES,...,70699723,841181415,188,95,0,22630012,RIO DE JANEIRO ...,RJ,2021-08-01,8